@font-face {
    font-family: Quark-Light;
    src: url(file:///android_asset/font/Quark-Light.otf);
}

@font-face {
    font-family: ASGMatrathanLight;
    src: url(file:///android_asset/font/ASGMatrathanLight.ttf);
}
@font-face {
    font-family: FontAwesome;
    src: url(file:///android_asset/font/FontAwesome.otf);
}

* {
-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
:focus {
outline: 0;
border:none;
color: rgba(0, 0, 0, 0);
}

body {
	/*font-family: 'FontAwesome', Verdana, sans-serif; */
	
	/*background-color: #000;*/
	/*margin-top : 1px ;*/
	/*font-family: 'Quark-Light', Verdana, sans-serif;
 	font-weight:normal;
 	font-style:normal;*/
 	
}


/* CSS image preload styles */
body:after
{
	content: 
		url(../img/btn-cal.png)
		url(../img/cal-graph-xaxis.png)
		url(../img/cal-graph-yaxis.png)
		url(../img/content/about-building-1.png)
		url(../img/content/about-building-10.png)
		url(../img/content/about-building-2.png)
		url(../img/content/about-building-3.png)
		url(../img/content/about-building-4.png)
		url(../img/content/about-building-5.png)
		url(../img/content/about-building-6.png)
		url(../img/content/about-building-7.png)
		url(../img/content/about-building-8.png)
		url(../img/content/about-building-9.png)
		url(../img/content/about-factory-1.png)
		url(../img/content/about-factory-10.png)
		url(../img/content/about-factory-11.png)
		url(../img/content/about-factory-2.png)
		url(../img/content/about-factory-3.png)
		url(../img/content/about-factory-4.png)
		url(../img/content/about-factory-5.png)
		url(../img/content/about-factory-6.png)
		url(../img/content/about-factory-7.png)
		url(../img/content/about-factory-8.png)
		url(../img/content/about-factory-9.png)
		url(../img/content/about_building.png)
		url(../img/content/about_factory.png)
		url(../img/content/bg-example-service.png)
		url(../img/content/building-1.png)
		url(../img/content/building.png)
		url(../img/content/cal-factory-info.png)
		url(../img/content/cal-factory-logo.png)
		url(../img/content/cal_building.png)
		url(../img/content/cal_building_1.png)
		url(../img/content/cal_building_2.png)
		url(../img/content/cal_building_3.png)
		url(../img/content/cal_building_3_1.png)
		url(../img/content/cooler.png)
		url(../img/content/dirt.png)
		url(../img/content/example-building-4.png)
		url(../img/content/example-building-energy-3.png)
		url(../img/content/example-energy.png)
		url(../img/content/glass.png)
		url(../img/content/led.png)
		url(../img/content/saving.png)
		url(../img/content/tank.png)
		url(../img/content/toilet.png)
		url(../img/content/tree.png)
		url(../img/header/header-about-building-1.png)
		url(../img/header/header-about-building-10.png)
		url(../img/header/header-about-building-2.png)
		url(../img/header/header-about-building-3.png)
		url(../img/header/header-about-building-4.png)
		url(../img/header/header-about-building-5.png)
		url(../img/header/header-about-building-6.png)
		url(../img/header/header-about-building-7.png)
		url(../img/header/header-about-building-8.png)
		url(../img/header/header-about-building-9.png)
		url(../img/header/header-about-building.png)
		url(../img/header/header-about-factory-1.png)
		url(../img/header/header-about-factory-10.png)
		url(../img/header/header-about-factory-11.png)
		url(../img/header/header-about-factory-2.png)
		url(../img/header/header-about-factory-3.png)
		url(../img/header/header-about-factory-4.png)
		url(../img/header/header-about-factory-5.png)
		url(../img/header/header-about-factory-6.png)
		url(../img/header/header-about-factory-7.png)
		url(../img/header/header-about-factory-8.png)
		url(../img/header/header-about-factory-9.png)
		url(../img/header/header-about.png)
		url(../img/header/header-cal-building.png)
		url(../img/header/header-cal-factory.png)
		url(../img/header/header-cal.png)
		url(../img/header/header-example-building-3.png)
		url(../img/header/header-example-building-4.png)
		url(../img/header/header-example-building-5.png)
		url(../img/header/header-example-building-6.png)
		url(../img/header/header-example-building-7.png)
		url(../img/header/header-example-building-electric.png)
		url(../img/header/header-example-building.png)
		url(../img/header/header-example-service.png)
		url(../img/header/header-sample.png)
		url(../img/icon/icon-building_area.png)
		url(../img/icon/icon-condition_area.png)
		url(../img/icon/icon-electric.png)
		url(../img/icon/icon-energy.png)
		url(../img/icon/icon-floor.png)
		url(../img/icon/icon-fossil.png)
		url(../img/icon/icon-freeze.png)
		url(../img/icon/icon-hours.png)
		url(../img/icon/icon-inputtype.png)
		url(../img/icon/icon-junk.png)
		url(../img/icon/icon-more-blue.png)
		url(../img/icon/icon-more-white.png)
		url(../img/icon/icon-no-condition_area.png)
		url(../img/icon/icon-people.png)
		url(../img/icon/icon-product.png)
		url(../img/icon/icon-reuse.png)
		url(../img/icon/icon-tree.png)
		url(../img/icon/icon-water-renew.png)
		url(../img/icon/icon-water.png)
		url(../img/info/info-cal-building-1_01.png)
		url(../img/info/info-cal-building-1_02.png)
		url(../img/info/info-cal-building-1_03.png)
		url(../img/info/info-cal-building-1_04.png)
		url(../img/info/info-cal-building-1_05.png)
		url(../img/info/info-cal-building-1_06.png)
		url(../img/info/info-cal-factory-1_01.png)
		url(../img/info/info-cal-factory-1_02.png)
		url(../img/info/info-cal-factory-1_03.png)
		url(../img/info/info-cal-factory-1_04.png)
		url(../img/info/info-cal-factory-1_05.png)
		url(../img/info/info-cal-factory-1_06.png)
		url(../img/info/info-cal-factory-2.png)
		url(../img/info/info-cal-factory-3.png)
		url(../img/line.png)
		url(../img/menu/menu-about-building.png)
		url(../img/menu/menu-about-factory.png)
		url(../img/menu/menu-cal-building.png)
		url(../img/menu/menu-cal-factory.png)
		url(../img/menu/menu-example-building.png)
		url(../img/menu/menu-example-factory.png)
		url(../img/menu/menu-example-hotel.png)
		url(../img/menu/menu-example-plaza.png)
		url(../img/pin.png)
		url(../img/submenu/submenu-about-building_01.png)
		url(../img/submenu/submenu-about-building_02.png)
		url(../img/submenu/submenu-about-building_03.png)
		url(../img/submenu/submenu-about-building_04.png)
		url(../img/submenu/submenu-about-building_05.png)
		url(../img/submenu/submenu-about-building_06.png)
		url(../img/submenu/submenu-about-building_07.png)
		url(../img/submenu/submenu-about-building_08.png)
		url(../img/submenu/submenu-about-building_09.png)
		url(../img/submenu/submenu-about-building_10.png)
		url(../img/submenu/submenu-about-factory_01.png)
		url(../img/submenu/submenu-about-factory_02.png)
		url(../img/submenu/submenu-about-factory_03.png)
		url(../img/submenu/submenu-about-factory_04.png)
		url(../img/submenu/submenu-about-factory_05.png)
		url(../img/submenu/submenu-about-factory_06.png)
		url(../img/submenu/submenu-about-factory_07.png)
		url(../img/submenu/submenu-about-factory_08.png)
		url(../img/submenu/submenu-about-factory_09.png)
		url(../img/submenu/submenu-about-factory_10.png)
		url(../img/submenu/submenu-about-factory_11.png)
		url(../img/submenu/submenu-cal-building-3-1_01.png)
		url(../img/submenu/submenu-cal-building-3-1_02.png)
		url(../img/submenu/submenu-cal-building-3-1_03.png)
		url(../img/submenu/submenu-cal-building-3-1_04.png)
		url(../img/submenu/submenu-cal-building-3-1_05.png)
		url(../img/submenu/submenu-cal-building-3-1_06.png)
		url(../img/submenu/submenu-cal-building-3-1_07.png)
		url(../img/submenu/submenu-cal-building-3-1_08.png)
		url(../img/submenu/submenu-cal-building-3_01.png)
		url(../img/submenu/submenu-cal-building_01.png)
		url(../img/submenu/submenu-cal-building_02.png)
		url(../img/submenu/submenu-cal-building_03.png)
		url(../img/submenu/submenu-cal-factory-3-1.png)
		url(../img/submenu/submenu-cal-factory-3-1_01.png)
		url(../img/submenu/submenu-cal-factory-3-1_02.png)
		url(../img/submenu/submenu-cal-factory-3-1_03.png)
		url(../img/submenu/submenu-cal-factory-3-1_04.png)
		url(../img/submenu/submenu-cal-factory-3-1_05.png)
		url(../img/submenu/submenu-cal-factory-3-1_06.png)
		url(../img/submenu/submenu-cal-factory-3-1_07.png)
		url(../img/submenu/submenu-cal-factory-3-1_08.png)
		url(../img/submenu/submenu-cal-factory_01.png)
		url(../img/submenu/submenu-cal-factory_02.png)
		url(../img/submenu/submenu-cal-factory_03.png)
		url(../img/submenu/submenu-example-building_01.png)
		url(../img/submenu/submenu-example-building_02.png)
		url(../img/submenu/submenu-example-building_03.png)
		url(../img/submenu/submenu-example-building_04.png)
		url(../img/submenu/submenu-example-building_05.png)
		url(../img/submenu/submenu-example-building_06.png)
		url(../img/submenu/submenu-example-building_07.png)
		url(../img/unit/unit-building-1.png)
		url(../img/unit/unit-building-2.png)
		url(../img/unit/unit-building-3.png)
		url(../img/unit/unit-building-4.png)
		url(../img/unit/unit-building-5.png)
		url(../img/unit/unit-building-6.png)
		url(../img/unit/unit-building-7.png)
		url(../img/unit/unit-building-8.png)
		url(../img/unit/unit-factory-1.png)
		url(../img/unit/unit-factory-2.png)
		url(../img/unit/unit-factory-3.png)
		url(../img/unit/unit-factory-4.png)
		url(../img/unit/unit-factory-5.png)
		url(../img/unit/unit-factory-6.png)
		url(../img/unit/unit-factory-7.png)
		url(../img/unit/unit-factory-8.png)
		display: none;
}